In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\SAHITHI V\Desktop\pandas\Untitled Folder\Untitled Folder\c2.csv")

In [3]:
df

,Unnamed: 0,CompanyName,Title,location,duration,salary,No_of_applied,Total_postings,Total_hired,Started_since
0,0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,"₹ 10,000 - 25,000 /month",Be an early applicant,552 opportunities posted,17 candidates hired,Hiring since May 2022
1,1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,"₹ 25,000 /month",Be an early applicant,58 opportunities posted,4 candidates hired,Hiring since April 2023
2,2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,"₹ 8,000 - 15,000 /month",Be an early applicant,1 opportunity posted,NaN,Hiring since May 2025
3,3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,"₹ 10,000 - 15,000 /month",26 applicants,17 opportunities posted,3 candidates hired,Hiring since October 2023
4,4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,"₹ 6,000 - 9,000 /month",65 applicants,2 opportunities posted,NaN,Hiring since January 2025
...,...,...,...,...,...,...,...,...,...,...
524,616,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,"₹ 6,000 - 14,000 /month",73 applicants,5 opportunities posted,NaN,Hiring since May 2025
525,617,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,"₹ 7,000 - 10,000 /month",62 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021
526,618,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,"₹ 7,000 - 10,000 /month",63 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021
527,619,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,"₹ 2,000 - 5,000 /month",63 applicants,141 opportunities posted,4 candidates hired,Hiring since November 2021
528,620,Design Attic,Social Media Marketing,Mumbai,6 Months,"₹ 12,000 - 20,000 /month",115 applicants,1 opportunity posted,NaN,Hiring since May 2025

In [4]:
df1=df.drop("Unnamed: 0",axis=1)

In [5]:
df1=df1.drop_duplicates()

In [6]:
df1

,CompanyName,Title,location,duration,salary,No_of_applied,Total_postings,Total_hired,Started_since
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,"₹ 10,000 - 25,000 /month",Be an early applicant,552 opportunities posted,17 candidates hired,Hiring since May 2022
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,"₹ 25,000 /month",Be an early applicant,58 opportunities posted,4 candidates hired,Hiring since April 2023
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,"₹ 8,000 - 15,000 /month",Be an early applicant,1 opportunity posted,NaN,Hiring since May 2025
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,"₹ 10,000 - 15,000 /month",26 applicants,17 opportunities posted,3 candidates hired,Hiring since October 2023
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,"₹ 6,000 - 9,000 /month",65 applicants,2 opportunities posted,NaN,Hiring since January 2025
...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,"₹ 6,000 - 14,000 /month",73 applicants,5 opportunities posted,NaN,Hiring since May 2025
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,"₹ 7,000 - 10,000 /month",62 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,"₹ 7,000 - 10,000 /month",63 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,"₹ 2,000 - 5,000 /month",63 applicants,141 opportunities posted,4 candidates hired,Hiring since November 2021
528,Design Attic,Social Media Marketing,Mumbai,6 Months,"₹ 12,000 - 20,000 /month",115 applicants,1 opportunity posted,NaN,Hiring since May 2025

In [7]:
def location_type(location):
    if location=="Work from home":
        return "Work from home"
    elif location.find("(Hybrid)")>-1:
        return "Hybrid"
    else:
        return "Onsite"

In [8]:
df1["location_type"]=df1["location"].apply(lambda x:location_type(x))

In [9]:
df1

,CompanyName,Title,location,duration,salary,No_of_applied,Total_postings,Total_hired,Started_since,location_type
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,"₹ 10,000 - 25,000 /month",Be an early applicant,552 opportunities posted,17 candidates hired,Hiring since May 2022,Work from home
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,"₹ 25,000 /month",Be an early applicant,58 opportunities posted,4 candidates hired,Hiring since April 2023,Work from home
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,"₹ 8,000 - 15,000 /month",Be an early applicant,1 opportunity posted,NaN,Hiring since May 2025,Work from home
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,"₹ 10,000 - 15,000 /month",26 applicants,17 opportunities posted,3 candidates hired,Hiring since October 2023,Work from home
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,"₹ 6,000 - 9,000 /month",65 applicants,2 opportunities posted,NaN,Hiring since January 2025,Work from home
...,...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,"₹ 6,000 - 14,000 /month",73 applicants,5 opportunities posted,NaN,Hiring since May 2025,Hybrid
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,"₹ 7,000 - 10,000 /month",62 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021,Onsite
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,"₹ 7,000 - 10,000 /month",63 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021,Onsite
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,"₹ 2,000 - 5,000 /month",63 applicants,141 opportunities posted,4 candidates hired,Hiring since November 2021,Onsite
528,Design Attic,Social Media Marketing,Mumbai,6 Months,"₹ 12,000 - 20,000 /month",115 applicants,1 opportunity posted,NaN,Hiring since May 2025,Onsite

In [10]:
df1["duration"].value_counts()

duration
3 Months        196
6 Months        142
2 Months         58
1 Month          48
4 Months         35
5 Months          9
2 Weeks           3
3 Weeks           1
6 Weeks           1
1 Week            1
Not Provided      1
Name: count, dtype: int64

In [11]:
df1 = df1[~df['duration'].isin(['2 Weeks', '3 Weeks', '1 Week', 'Not Provided'])]
df1['duration'] = df1['duration'].replace({'6 Weeks': '1 Month'})

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_123952\2584729918.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = df1[~df['duration'].isin(['2 Weeks', '3 Weeks', '1 Week', 'Not Provided'])]
C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_123952\2584729918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['duration'] = df1['duration'].replace({'6 Weeks': '1 Month'})

In [12]:
df1=df1.rename(columns={"salary":"stipend"})

In [13]:
df1["stipend"].sample(20)  # There are inconsistencies in the stipend

281    ₹ 10,000 - 15,000 /month
345             ₹ 12,000 /month
421    ₹ 10,000 - 12,000 /month
222      ₹ 5,000 - 7,500 /month
522    ₹ 10,000 - 12,000 /month
146    ₹ 20,000 - 30,000 /month
465              ₹ 7,000 /month
163    ₹ 12,000 - 15,000 /month
333             ₹ 15,000 /month
47       ₹ 5,000 - 7,000 /month
242             ₹ 15,000 /month
223     ₹ 7,000 - 20,000 /month
491      ₹ 5,000 - 8,000 /month
14       ₹ 5,000 - 6,000 /month
288      ₹ 1,000 - 2,000 /month
405             ₹ 10,000 /month
293           ₹ 15,000 lump sum
399     ₹ 5,000 - 10,000 /month
379    ₹ 15,000 - 25,000 /month
374     ₹ 4,500 - 18,000 /month
Name: stipend, dtype: object

In [14]:
x=df1["stipend"].apply(lambda x: x.replace('/month',''))

In [15]:
x=x.apply(lambda x:x.replace("lump sum",""))

In [16]:
x=x.replace({"Unpaid":"0"})

In [17]:
x=x.apply(lambda x:x.replace("₹",""))

In [18]:
x=x.apply(lambda x:x.strip())

In [19]:
x=x.apply(lambda x:x.replace(",",""))

In [20]:
x=x.replace({'Performance Based':"0"})

In [21]:
x=x.replace({"Not provided":"0"})

In [22]:
def average(value):
    l = value.split("-")
    if len(l) == 2:
        return (int(l[0].strip()) + int(l[1].strip())) / 2
    else:
        return int(l[0].strip())

In [23]:
x=x.apply(lambda x:average(x))

In [24]:
x[x=='Performance Based']

Series([], Name: stipend, dtype: float64)

In [25]:
x.value_counts()

stipend
15000.0    42
10000.0    39
12500.0    30
7500.0     26
11000.0    18
           ..
16500.0     1
5750.0      1
5100.0      1
3503.0      1
12650.0     1
Name: count, Length: 70, dtype: int64

In [26]:
df1["cleaned_stipend"]=x

In [27]:
df1

,CompanyName,Title,location,duration,stipend,No_of_applied,Total_postings,Total_hired,Started_since,location_type,cleaned_stipend
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,"₹ 10,000 - 25,000 /month",Be an early applicant,552 opportunities posted,17 candidates hired,Hiring since May 2022,Work from home,17500.0
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,"₹ 25,000 /month",Be an early applicant,58 opportunities posted,4 candidates hired,Hiring since April 2023,Work from home,25000.0
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,"₹ 8,000 - 15,000 /month",Be an early applicant,1 opportunity posted,NaN,Hiring since May 2025,Work from home,11500.0
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,"₹ 10,000 - 15,000 /month",26 applicants,17 opportunities posted,3 candidates hired,Hiring since October 2023,Work from home,12500.0
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,"₹ 6,000 - 9,000 /month",65 applicants,2 opportunities posted,NaN,Hiring since January 2025,Work from home,7500.0
...,...,...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,"₹ 6,000 - 14,000 /month",73 applicants,5 opportunities posted,NaN,Hiring since May 2025,Hybrid,10000.0
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,"₹ 7,000 - 10,000 /month",62 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021,Onsite,8500.0
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,"₹ 7,000 - 10,000 /month",63 applicants,88 opportunities posted,15 candidates hired,Hiring since February 2021,Onsite,8500.0
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,"₹ 2,000 - 5,000 /month",63 applicants,141 opportunities posted,4 candidates hired,Hiring since November 2021,Onsite,3500.0
528,Design Attic,Social Media Marketing,Mumbai,6 Months,"₹ 12,000 - 20,000 /month",115 applicants,1 opportunity posted,NaN,Hiring since May 2025,Onsite,16000.0

In [28]:
df1=df1.drop(columns="stipend")

In [29]:
df1["No_of_applied"].isnull().sum()

0

In [30]:
y=df1['No_of_applied'].replace({'Be an early applicant':"0"})

In [31]:
y=y.apply(lambda x:x.replace("applicants",""))

In [32]:
y=y.apply(lambda x:x.strip())

In [33]:
y=y.apply(lambda x:x.replace("+",""))

In [34]:
y=y.apply(int)

In [35]:
df1["No_of_applied"]=y

In [36]:
df1

,CompanyName,Title,location,duration,No_of_applied,Total_postings,Total_hired,Started_since,location_type,cleaned_stipend
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,0,552 opportunities posted,17 candidates hired,Hiring since May 2022,Work from home,17500.0
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,0,58 opportunities posted,4 candidates hired,Hiring since April 2023,Work from home,25000.0
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,0,1 opportunity posted,NaN,Hiring since May 2025,Work from home,11500.0
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,26,17 opportunities posted,3 candidates hired,Hiring since October 2023,Work from home,12500.0
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,65,2 opportunities posted,NaN,Hiring since January 2025,Work from home,7500.0
...,...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,73,5 opportunities posted,NaN,Hiring since May 2025,Hybrid,10000.0
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,62,88 opportunities posted,15 candidates hired,Hiring since February 2021,Onsite,8500.0
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,63,88 opportunities posted,15 candidates hired,Hiring since February 2021,Onsite,8500.0
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,63,141 opportunities posted,4 candidates hired,Hiring since November 2021,Onsite,3500.0
528,Design Attic,Social Media Marketing,Mumbai,6 Months,115,1 opportunity posted,NaN,Hiring since May 2025,Onsite,16000.0

In [37]:
df1["Total_postings"].isnull().sum()

1

In [38]:
z=df1["Total_postings"].fillna("0")

In [39]:
z=z.apply(lambda x:x.replace("opportunities posted",""))

In [40]:
z=z.apply(lambda x:x.replace("opportunity posted",""))

In [41]:
z=z.apply(int)

In [42]:
df1["Total_postings"]=z

In [43]:
df1

,CompanyName,Title,location,duration,No_of_applied,Total_postings,Total_hired,Started_since,location_type,cleaned_stipend
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,0,552,17 candidates hired,Hiring since May 2022,Work from home,17500.0
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,0,58,4 candidates hired,Hiring since April 2023,Work from home,25000.0
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,0,1,NaN,Hiring since May 2025,Work from home,11500.0
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,26,17,3 candidates hired,Hiring since October 2023,Work from home,12500.0
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,65,2,NaN,Hiring since January 2025,Work from home,7500.0
...,...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,73,5,NaN,Hiring since May 2025,Hybrid,10000.0
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,62,88,15 candidates hired,Hiring since February 2021,Onsite,8500.0
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,63,88,15 candidates hired,Hiring since February 2021,Onsite,8500.0
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,63,141,4 candidates hired,Hiring since November 2021,Onsite,3500.0
528,Design Attic,Social Media Marketing,Mumbai,6 Months,115,1,NaN,Hiring since May 2025,Onsite,16000.0

In [44]:
df1["Total_hired"].isnull().sum()

160

In [45]:
m=df1["Total_hired"].fillna("0")

In [46]:
m=m.apply(lambda x:x.replace("candidates hired",""))

In [47]:
m=m.apply(lambda x:x.replace("candidate hired",""))

In [48]:
m=m.apply(lambda x:x.strip())

In [49]:
m=m.apply(int)

In [50]:
df1["Total_hired"]=m

In [51]:
df1["Started_since"].isnull().sum()

1

In [52]:
n=df1["Started_since"].fillna("2025")

In [53]:
n=n.apply(lambda x:x.split(" ")[-1])

In [54]:
df1["Started_since"]=n

In [55]:
df1

,CompanyName,Title,location,duration,No_of_applied,Total_postings,Total_hired,Started_since,location_type,cleaned_stipend
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,0,552,17,2022,Work from home,17500.0
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,0,58,4,2023,Work from home,25000.0
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,0,1,0,2025,Work from home,11500.0
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,26,17,3,2023,Work from home,12500.0
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,65,2,0,2025,Work from home,7500.0
...,...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,73,5,0,2025,Hybrid,10000.0
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,62,88,15,2021,Onsite,8500.0
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,63,88,15,2021,Onsite,8500.0
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,63,141,4,2021,Onsite,3500.0
528,Design Attic,Social Media Marketing,Mumbai,6 Months,115,1,0,2025,Onsite,16000.0

In [56]:
categories = {
    
    'Creative & Design': [
        'UI/UX', 'Product Design', 'Video', 'Content', 'Motion Graphic Design', 
        'Photography', 'Video Animation', 'Social Media','graphics','design'
    ],
    
        'Software & Web Development & Engineering': [
        'Full Stack', 'Frontend', 'Backend', 'Web Development',
        'React', 'JavaScript', 'Next.js',
        'Node.js', 'Java', 'PHP', 'C/C++', 'MERN Stack','.Net','developer','Software', 'Technology', 'developer', 'IT'
    ],
    
    'Data': [
        'Artificial Intelligence', 'Machine Learning', 'Data Science', 'Python', 'Database', 'AI/ML', 
        'SQL','Analysts','Analytics','GenAI','LLM','Data','AI','Web Scrapping','CNN',
        'computer vision','Neural','Analyst','chatbot'
    ],

    'Mobile Development': [
        'Flutter', 'Android', 'Mobile'
    ],

    'Automation & Robotics': [
        'automation', 'Robotics'
    ],

    


    'Cloud': [
        'Cloud Computing','Aws','Devops','cloud','azure'
    ],

    'CyberSecurity': [
        "CyberSecurity","Ethical","Hacker"
    ],

    'Business & Consulting': [
        'Business Analytics', 'Business Consultant', 'Operations', 'Marketing', 'Digital Marketing', 'SEO', 
        'Product Management', 'Project Management', 'HR', 'Recruitment','Ads','Market'
    ],

    'Customer Service & Operations': [
         'Customer Support', 'Office Assistant', 'Data Entry','customer'
    ],

    'Industry-Specific Roles': [
        'Web3', 'Crypto', 'Retail', 'E-commerce', 'Shopify', 'WordPress'
    ],

    'Trainer': [
        'Trainer', 'Language', 'Hindi', 'Marathi', 'Gujarati', 'Telugu', 'Tamil', 'Urdu',
        'coordinator','Campus','Teaching'
    ]
}

In [57]:


def categorize(title):
    title = title.lower()
    for category, keywords in categories.items():
        for keyword in keywords:
            keyword = keyword.lower()
            if  keyword in title:
                return category 
    
    return "Others"

In [58]:
df1["Category"]=df1["Title"].apply(lambda x:categorize(x))

In [59]:
df1

,CompanyName,Title,location,duration,No_of_applied,Total_postings,Total_hired,Started_since,location_type,cleaned_stipend,Category
0,CollegeTips Ed Tech Media Private Limited,Business Analytics,Work from home,1 Month,0,552,17,2022,Work from home,17500.0,Data
1,Jivichem Synthesis Private Limited,Machine Learning,Work from home,1 Month,0,58,4,2023,Work from home,25000.0,Data
2,"Gyde (New York, United States)",Ul Stack Developer (MERN/Next.js + NestJS + Ge...,Work from home,6 Months,0,1,0,2025,Work from home,11500.0,Software & Web Development & Engineering
3,Primetrade.ai,Junior Data Scientist For High-Growth Web3 Tr...,Work from home,6 Months,26,17,3,2023,Work from home,12500.0,Data
4,Nimrobo AI Pvt Ltd,Artificial Intelligence (AI),Work from home,3 Months,65,2,0,2025,Work from home,7500.0,Data
...,...,...,...,...,...,...,...,...,...,...,...
524,QHT Clinic,Video Editing/Making,"Delhi, Noida, Haridwar ...",6 Months,73,5,0,2025,Hybrid,10000.0,Creative & Design
525,Mangostine Technologies Private Limited,Social Media Content Creator,Noida,4 Months,62,88,15,2021,Onsite,8500.0,Creative & Design
526,Mangostine Technologies Private Limited,Video Editing/Making,Noida,4 Months,63,88,15,2021,Onsite,8500.0,Creative & Design
527,Experiences.digital,Video Editing/Making,Gurgaon,3 Months,63,141,4,2021,Onsite,3500.0,Creative & Design
528,Design Attic,Social Media Marketing,Mumbai,6 Months,115,1,0,2025,Onsite,16000.0,Creative & Design

In [60]:
df1.to_csv("Cleaned_data.csv")

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 489 entries, 0 to 528
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CompanyName      489 non-null    object
 1   Title            489 non-null    object
 2   location         489 non-null    object
 3   duration         489 non-null    object
 4   No_of_applied    489 non-null    int64
 5   Total_postings   489 non-null    int64
 6   Total_hired      489 non-null    int64
 7   Started_since    489 non-null    object
 8   location_type    489 non-null    object
 9   cleaned_stipend  489 non-null    float64
 10  Category         489 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 45.8+ KB